@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark; */
  /* themes: light --default; */
  themes: all;
}

/* add & change custom styles for a specific theme */
[data-theme="emerald"] {
  --color-base-100: var(--color-slate-100);
  --color-base-200: var(--color-slate-300);
  --color-base-300: var(--color-slate-500);
  --color-primary: var(--color-green-700);
}
[data-theme="light"] {
  --color-primary: var(--color-green-700);
  --color-secondary: var(--color-blue-600);
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}
